/* STYLES FOR COUNTRY SELECT */
.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}
/* .css-163ge8a-control {
  outline-width: 0 !important;
  border: 1px !important;
  border-color: rgb(183 179 179) !important;
}
.css-163ge8a-control:hover {
  outline-width: 0 !important;
  border: 1px !important;
  border-color: rgb(183 179 179) !important;
} */
