@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 255, 255, 255;
    --color-content: 5, 117, 85;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 51, 51, 51;
      --color-content: 237, 237, 237;
    }
  }
  :root[data-theme='dark'] {
    --color-bkg: 51, 51, 51;
    --color-content: 237, 237, 237;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global text color styles */
/* :root {
  --text-color: var(--color-text-light);
} */
/* 
body {
  color: #575555;
  background-color: #fff;
} */

h1,
h2,
h3,
h4,
table {
  color: #001935;
  line-height: 32px;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #ededed;
  }
} */

/* TOGGLE SWITCH CSS */
.toggle-switch:checked {
  background-color: #fff;
}

/* .toggle-switch:checked ~ span:last-child {
  --tw-translate-x: 1.75rem;
} */
.toggle-switch:checked ~ span:last-child {
  --tw-translate-x: 2.3rem;
}
