@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global text color styles */
/* :root {
  --text-color: var(--color-text-light);
} */

body {
  color: #575555;
  /* color: red; */
}

h1,
h2,
h3,
h4,
table {
  color: #001935;
  line-height: 32px;
}

@media (prefers-color-scheme: dark) {
  body {
  }
}

/* Apply global text color to elements
.text-global {
  color: var(--text-color);
} */
